// ------------------------------------------------------
// BASIC ELEMENTS
// ------------------------------------------------------
html{
	height: 100%;
    overflow-y:scroll;
}

body{
	font-family: 'Meiryo','Hiragino Kaku Gothic ProN',sans-serif;
    background-color: #fff;
	color: $color_font;
	font-size: 20px;
	line-height: 1.5;
	cursor:auto;
	height: 100%;
	-webkit-text-size-adjust: none;
	@if $type == pc{
		min-width: 940px;
	}
}
a{
	color: $color_link;
	&:hover{
		color: $color_link_h;
	}
	&:visited{
		color: $color_link;
	}
	&:active{
		color: $color_link;
	}
}
img{
	@if $type == pc{
		width: auto;
		height: auto;
	}
	@if $type == sp{
		max-width: 100%;
		height: auto;
	}
}
.forPC{	@if $type == sp{display: none!important;}}
.forSP{	@if $type == pc{display: none!important;}}

// ------------------------------------------------------
// CONTENTS
// ------------------------------------------------------
h1{
    font-size: 20px;
}
