@charset "UTF-8";
// Import
@import "include/_reset";
@import "include/_variable";
@import "include/_mixin";

// MEDIA QUERY
//-----------------------------------------------------

/* Small Display
-------------------------------------------------- */
@media screen and(max-width:$breakpoint_sp) {
    $type: sp;
    @import "_common_media-query";
}

/* Middle Display
-------------------------------------------------- */
@media screen and(max-width:$breakpoint_tb) {
    $type: tb;
    @import "_common_media-query";
}

/* Large Display
-------------------------------------------------- */
@media print, screen and (min-width:$breakpoint_pc) {
    $type: pc;
    @import "_common_media-query";
}

/* Print CSS
-------------------------------------------------- */
@media print {
}
