@charset "UTF-8";
/*
#overview
common.css

comment
*/

@import "preset/_mixin";


// RESET CSS
$resetCSS :sanitize;
@import "preset/_reset";
@import "preset/_variable";
@import "preset/_mixin";

// MEDIA QUERY
//-----------------------------------------------------

/* Small Display
-------------------------------------------------- */
@media screen and(max-width:$breakpoint_sp) {
    $type: sp;
    @import "_common_media-query";
}

/* Middle Display
-------------------------------------------------- */
@media screen and(max-width:$breakpoint_tb) {
    $type: tb;
    @import "_common_media-query";
}

/* Large Display
-------------------------------------------------- */
@media print, screen and (min-width:$breakpoint_pc) {
    $type: pc;
    @import "_common_media-query";
}

/* Print CSS
-------------------------------------------------- */
@media print {
}
