@charset "UTF-8";
/*
#overview
second.css

comment
*/

// Import
@import "preset/_mixin";
@import "preset/_variable";

// MEDIA QUERY
//-----------------------------------------------------

/* Small Display
-------------------------------------------------- */
@media screen and(max-width:$breakpoint_sp) {
    $type: sp;
    @import "_second_media-query";
}

/* Middle Display
-------------------------------------------------- */
@media screen and(max-width:$breakpoint_tb) {
    $type: tb;
    @import "_second_media-query";
}

/* Large Display
-------------------------------------------------- */
@media print, screen and (min-width:$breakpoint_pc) {
    $type: pc;
    @import "_second_media-query";
}

/* Print CSS
-------------------------------------------------- */
@media print {
}
