<h2>Easy to use</h2>
<p>By preferring code over configuration, gulp keeps things simple and makes complex tasks manageable.
Efficient</p>

<h2>Efficient</h2>
<p>Using the power of node streams, gulp gives you fast builds that don't write intermediary files to disk.</p>

<h2>High Quality</h2>
<p>By enforcing strict plugin guidelines, we ensure that plugins stay simple and work as expected.</p>

<h2>Easy to Learn</h2>
<p>Using node best practices and maintaining a minimal API surface, your build works exactly as you would imagine.</p>
