//Variables

//Break Point
$breakpoint_sp		:600px;
$breakpoint_tb		:600px;
$breakpoint_pc		:$breakpoint_sp + 1;

//Color
$color	            :#247bbd;//サイトカラー
$color_text     	:#2a2a2a;//デフォルトの黒テキストカラー
$color_link         :#247bbd;//リンクカラー
$color_link_h       :#2a2a2a;//リンクのホバー時カラー

//Font Family
$ff_eng		:'Open Sans', 'sans-serif','meiryo';
