//Variables

//Break Point
$breakpoint_sp		:600px;
$breakpoint_tb		:600px;
$breakpoint_pc		:$breakpoint_sp + 1;

//Color
$color	            :#f6ab00;//サイトカラー
$color_font     	:#2a2a2a;//テキスト
$color_link         :#2a2a2a;//リンク
$color_link_h       :#2a2a2a;//リンクホバー
//Font Family
$ff_eng		:'Open Sans', 'sans-serif','meiryo';
